/* color declaration */
.bg-custom-gradient{
    background: rgb(39,142,216);
    background: linear-gradient(90deg, rgba(39,142,216,0.969625350140056) 4%, rgba(31,187,157,1) 91%);
}
.small-image{height:42px;width: 42px;}
.very-small-image{height:25px;width: 25px;}
.progress {height: 6px;margin: 3px auto;}
.bg-theme-color{background-color: rgba(31,187,157,1);}
.text-theme-color{color: rgba(31,187,157,1);}
.border-theme-color{border: 1px solid rgba(31,187,157,1);}
.bg-theme-color-blue{background-color: rgba(39,142,216,1);}
.text-theme-color-blue{color: rgba(39,142,216,1);}
.ht-35{height: 35px;}
.vl{border-left: 1px solid #fff;}
a{color: rgba(39,142,216,1);}
a:hover{text-decoration: none;}
p{font-size: 15px;}
.sml-txt{font-size: 13px;}
.bd-w{border-width: 2px!important;}

/* extra Interactivity custom css | Elements custom css  */

#symbNav > li{
    transition: .2s ease-in-out;
    border-bottom: 5px solid transparent;
}
#symbNav > li.active, #symbNav > li:hover{
    border-bottom: 5px solid #fff;
}
.contact-table td > i{
    position: relative;
    left: -18px;
}
.card-cross{
    position: absolute;
    right: 9px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.border-list-design{
    border: 0;
    box-shadow: 0px 0px 2px 0px #cabbbb;
    border-bottom: 2px solid #64b8f3;
}
.text-very-small{
    font-size: 10px;
    color: #bdacac;
}
.date-section > p{
    line-height: 1;
    color: rgb(156, 183, 204);
    font-size: 11px;
}
.flaticon-arrow-down-sign-to-navigate::before{font-size: 11px;}
ul > li.border-list-design:last-child{border: 0;}
.ft-30{font-size: 20px!important;}
li.border-list-design > div > div:last-child{line-height: 1.1;}

/* Phone Responsive */
@media (max-width: 767.98px) {
    .float-custom-left{float: left!important;}
    .custom-pr{padding-right:15px!important;}
    .custom-pl{padding-left:15px!important;}
    .custom-p-0{ padding-left: 0!important;padding-right: 0!important;}
    .custom-center{ text-align: center;display: block;}
}