    /*
    Flaticon icon font: Flaticon
    Creation date: 18/11/2019 09:05
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-avatar:before { content: "\f100"; }
.flaticon-envelope:before { content: "\f101"; }
.flaticon-telephone:before { content: "\f102"; }
.flaticon-global:before { content: "\f103"; }
.flaticon-placeholder:before { content: "\f104"; }
.flaticon-arrow-down-sign-to-navigate:before { content: "\f105"; }
.flaticon-plus-symbol:before { content: "\f106"; }
.flaticon-loupe:before { content: "\f107"; }
    
    $font-Flaticon-avatar: "\f100";
    $font-Flaticon-envelope: "\f101";
    $font-Flaticon-telephone: "\f102";
    $font-Flaticon-global: "\f103";
    $font-Flaticon-placeholder: "\f104";
    $font-Flaticon-arrow-down-sign-to-navigate: "\f105";
    $font-Flaticon-plus-symbol: "\f106";
    $font-Flaticon-loupe: "\f107";